{% extends 'navbar.html' %}
{% block content %}

    </br>
    <div>
        <div class="container">
            <h1 class="display-3">Система электронного документооборота</h1>
            <br>
            <p class="lead">Выпускная квалификационная работа бакалавра на тему:
                Система электронного документооборота масштаба кафедра студенты</p>
            {% load static %}
                <img src="{% static "author.png" %}" class="rounded float-start" alt="My image" width="400" align="left" hspace="15" />
                <p class="lead">Исполнитель:</p>
                <p class="lead">Рудченко Егор Александрович ИУ5-81Б</p>
                <br>
                <p class="lead">Контакты:</p>
                <p class="lead">rudegor@yandex.ru</p>
                <p class="lead">89253762887</p>
                <br clear="left" />
            <br><br><br>
{#            <ul type="circle">#}
{#                <li class="lead">To get started, you can use the search to find the necessary recipe.</li><br>#}
{#                {% load static %}#}
{#                    <img src="{% static "search.gif" %}" alt="My image" width="700"><br><br><br>#}
{#                <li class="lead">You can add the recipes you like to your favorites or delete the added recipe.</li><br>#}
{#                {% load static %}#}
{#                    <img src="{% static "add-delete.gif" %}" alt="My image" width="700"><br><br><br>#}
{#                <li class="lead">You can rate the recipe so that other users can choose the best recipes.</li><br>#}
{#                {% load static %}#}
{#                    <img src="{% static "rating.gif" %}" alt="My image" width="700"><br><br><br>#}
{#                <li class="lead">Of course, you can see the ingredients and directions of recipes.</li><br>#}
{#                {% load static %}#}
{#                    <img src="{% static "ingredients.gif" %}" alt="My image" width="700"><br><br><br>#}
{#                <li class="lead">You can also see recommended recipes if you want to try something new,#}
{#                    but not too unusual.</li><br>#}
{#                {% load static %}#}
{#                    <img src="{% static "similar.gif" %}" alt="My image" width="700"><br><br><br>#}
{#                <li class="lead">Finally, you can go to your account to to see information about your profile, a list#}
{#                    of recipes you like, and browsing history.</li><br>#}
{#                {% load static %}#}
{#                    <img src="{% static "account.gif" %}" alt="My image" width="700"><br><br>#}
{#            </ul>#}
        </div>
    </div>

{% endblock %}